/* Project-wide style */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body {
  background-color: black;
  font-family: 'Poppins', sans-serif;
  color: white;
}

.navbar {
  font-weight: 500;
}

.jumbotron {
  padding-top: 50px;
}

.foto {
  width: 15%;
  border-radius: 50%;
}

.about {
  display: flex;
}

.par {
  font-size: 20px;
}

.matkul {
  font-size: 20px;
  margin: 10px;
}

.kegiatan {
  color:black
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
}

.accordion {
  max-width: 700px;
  padding: 20px;
}

.accordion-item {
  border-bottom: 1px solid #fff;
  padding: 20px 0;
}

.item-header {
  display: flex;
  padding: 10px 0px;
  align-items:center;
  justify-content:space-between;
  cursor: pointer;
}

.icon-up {
  padding-left:9px;
  width:30px;
  height:30px;
  border: 2px solid #fff;
  border-radius: 50%;
}

.icon-down {
  padding-left:9px;
  width:30px;
  height:30px;
  margin-left: 10px;
  margin-right: 10px;
  border: 2px solid #fff;
  border-radius: 50%;
}

.title {
  flex-grow: 1;
}

.text {
  padding: 0 6px;
  max-height: 0;
  overflow: hidden;
}

.accordion-item.active .text {
  max-height: 600px;
  transition: .4s linear;
}

.form-control-books {
  max-width: 30%;
}

.kartu {
  margin: auto;
  margin-top: 150px;
  color:white;
}

.black {
  color:black;
}

.form {
  display: flex;
  justify-content: space-evenly;
}

.label {
  flex-grow: 2;
}

.login {
  max-width: 200%;
}

.login-signup {
  display: flex;
  justify-content: space-between;
}