{% extends 'base.html' %} {% load static %} {% block meta %}
<title>storyhadi</title>
<link href="https://css.gg/css?=|instagram" rel="stylesheet">
<link href='https://css.gg/twitter.css' rel='stylesheet'> 
<script src="{% static 'js/script.js' %}"></script>
{% endblock meta %} {% block content %}


<div class="container">
  <div class="row" style="margin-top: 50px;margin-left: 40px;">
    <h1>About Me</h1>

    <!-- <p class="par" style="margin-top: 50px;">My name is Hadi Halim Kamil.<br>
                                             I am currrently studying for Bachelor degree majoring in Computer Science
                                             at Universitas Indonesia.<br>
                                             </p> -->
    <!-- Accordion Start-->
    <div class="accordion">
      <div class="accordion-item" id="item1">
        <div class="item-header">
          <h3 class="title">Aktivitas saat ini</h3>
          <div class="icon-up">↑</div>
          <div class="icon-down">↓</div>
        </div>
        <p class="text">
          Lorem ipsum dolor amet
        </p>
      </div>

      <div class="accordion-item" id="item2">
        <div class="item-header">
          <h3 class="title">Pengalaman Organisasi dan Kepanitiaan</h3>
          <div class="icon-up">↑</div>
          <div class="icon-down">↓</div>
        </div>
        <p class="text">
          Lorem ipsum dolor amet
        </p>
      </div>

      <div class="accordion-item" id="item3">
        <div class="item-header">
          <h3 class="title">Prestasi</h3>
          <div class="icon-up">↑</div>
          <div class="icon-down">↓</div>
        </div>
        <p class="text">
          Lorem ipsum dolor amet
        </p>
      </div>

      <div class="accordion-item" id="item4">
        <div class="item-header">
          <h3 class="title">Hobi</h3>
          <div class="icon-up">↑</div>
          <div class="icon-down">↓</div>
        </div>
        <p class="text">
          Lorem ipsum dolor amet
        </p>
      </div>
    </div>

    <!-- Accordion End-->
    
    <p class="par" style="margin-top: 20px;">Here are my courses on this term:</p>

    <a href="{% url 'main:addmatkul' %}" style="color:white">Click here to add a course</a>
    
    {% for each in matkul %}
    <div class="row">
      <div class="col">
        <div class="matkul">
          <h3>{{each.nama_matkul}} {{each.kode_matkul}}</h3>
          <p class="par">Dosen       : {{each.dosen}}<br>
                         Jumlah SKS  : {{each.jumlah_sks}}<br>
                         Deskripsi   : {{each.deskripsi}}<br>
                         Tahun Ajaran: {{each.semester_tahun}}<br>
                         Ruang Kelas : {{each.ruang_kelas}}<br>
          </p>
          <a href="{% url 'main:deletematkul' each.kode_matkul %}">
          <button type="button" class="btn btn-danger">Delete</button>
          
        </a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  
  <!-- <div class="row mt-5 ms-2">
    <div class="col">
      <a href="https://www.instagram.com/hadihalimm/">
      <i class="gg-instagram" style="color:white"></i>
      </a>
      <a href="https://twitter.com/hadihalimmm">
        <i class="gg-twitter" style="color:white;margin-top:10px"></i>
        </a>
      </div>
    </div> -->
  </div>
</div>

{% endblock content %}