{% extends 'base.html' %} {% load static %} {% block meta %}
<title>storyhadi</title>
{% endblock meta %} {% block content %}


<h1 style="margin-top: 50px;margin-left: 40px;">Tambah Matkul</h1>

<div class="container" style="margin-top: 50px;margin-left: 40px;">
    <form action="" method="POST">
        {% csrf_token %}
        <table>
            {{ form.as_table}}
        </table>
        <input type="submit" value="Submit" style="margin-top: 20px;">
    </form>
</div>


{% endblock content %}