{% extends 'base.html' %} {% load static %} {% block meta %}
<title>storyhadi</title>
<script src="{% static 'js/script.js' %}"></script>
{% endblock meta %} {% block content %}

<div class="container">
    <div class="row" style="margin-top: 50px;margin-left: 40px;">
        <h1>AJAX Test</h1>
        <form action="" method="GET">
            <div class="form-group" style="margin-top: 30px;">
              <label for="inputbuku">Cari Buku</label>
              <input type="text" name="judul" class="form-control-books" id="inputbuku" aria-describedby="emailHelp" placeholder="Input">
            </div>
            <button type="submit" class="btn btn-primary" style="margin-top: 20px;">Submit</button>
          </form>

          {% for book in data %}
          <h4 style="margin-top: 50px;"> {{ book.volumeInfo.title }} </h4>
          <p class="par">
            Penulis: 
            {% for author in book.volumeInfo.authors %}
            {{ author }},
            {% endfor %}
            <br>
            Penerbit: {{ book.volumeInfo.publisher }} <br>
            Tahun Terbit: {{ book.volumeInfo.publishedDate}} <br>
            Deskripsi: {{ book.volumeInfo.description }} <br>
          </p>
          {% endfor %}
    </div>
</div>

{% endblock content %}