{% extends 'base.html' %} {% load static %} {% block meta %}
<title>storyhadi</title>

{% endblock meta %} {% block content %}

<div class="container" style="margin-top: 50px;">
    <p class="par" style="color:white">Are you sure you want to delete "{{item}}" ?</p>

<form action="{% url 'main:deletematkul' item.kode_matkul %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="Yes, I'm sure" class="btn btn-light">
</form>
</div>


{% endblock content %}