{% extends 'base.html' %} {% load static %} {% block meta %}
<title>storyhadi</title>
{% endblock meta %} {% block content %}

<div style="margin-top: 20px; position: absolute; right:20px">
  <h5>Hello, {{ request.user }} </h5>
  <a class="btn btn-danger" href="{% url 'main:logout' %}" role="button">Logout</a>
</div>
<!-- Jumbotron start -->
<section class="jumbotron text-center">
  <img src="{% static 'img/myself.JPG' %}" class="foto img-thumbnail" />
  <h1 class="display-4" style="padding-top: 30px">Hadi Halim Kamil</h1>
  <p class="lead">Student at Universitas Indonesia</p>
</section>
<!-- Jumbotron end -->

<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
  <path
    fill="#ffffff"
    fill-opacity="1"
    d="M0,160L48,133.3C96,107,192,53,288,42.7C384,32,480,64,576,90.7C672,117,768,139,864,128C960,117,1056,75,1152,85.3C1248,96,1344,160,1392,192L1440,224L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"
  ></path>
</svg>
{% endblock content %}
