{% extends 'base.html' %} {% load static %} {% block meta %}
<title>storyhadi</title>
{% endblock meta %} {% block content %}

<div class="container">
    <div class="row" style="margin-top: 50px;margin-left: 40px;">
      <h1 style="margin-bottom: 50px;">Kegiatan</h1>
      <a href="{% url 'main:addkegiatan' %}" style="color:white">
      <h5 style="margin-bottom: 50px">Klik disini untuk menambah kegiatan</h5>  
      </a>
      {% for item in kegiatans %}
      <div class="col-4 kegiatan" style="margin-bottom:20px">
        <div class="card w-75">
          <div class="card-body">
            <h3 class="card-title">{{item.nama_kegiatan}}</h3>
            <p class="card-text">
              <p>{{item.deskripsi_kegiatan}}</p>
              <p>Daftar Peserta :</p>
        {% for orang in persons %}
          {% if orang.kegiatan == item %}
                  <h6>{{orang.nama}} --- {{orang.id_person}}</h6>
                </p>
          {% endif %}
        {% endfor %}
            </p>
            <div class="flex-container">
              <a href="{% url 'main:addperson' %}" class="btn btn-primary">Tambah Peserta</a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      

    </div>
</div>
{% endblock content %}