{% extends 'base.html' %} {% load static %} {% block meta %}
<title>storyhadi</title>
<script src="{% static 'js/script.js' %}"></script>
{% endblock meta %} {% block content %}

<div class="card kartu" style="width: 20rem;">
  <div class="card-body black">
    <h2 class="card-title black" style="margin-bottom: 30px;">Login</h2>
    <form method="POST">
      {% csrf_token %}
      <div class="mb-3">
        <label for="inputUsername" class="form-label">Username</label>
        <input type="text" class="form-control" id="uname" name="username">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="pwd" name="password">
      </div>
      <div class="form">
        <button type="submit" class="btn btn-primary login-signup">Login</button>
        <a class="btn btn-warning" href="{% url 'main:register' %}" role="button">Register</a>
      </div>
    </form>
  </div>
</div>


{% endblock content %}