{% extends 'base.html' %} {% load static %} {% block meta %}
<title>storyhadi</title>
{% endblock meta %} {% block content %}


<div class="container">
  <div class="row mt-5 ms-2">
    <h1>Projects</h1>
  </div>
  <div class="row mt-5 ms-2 text-center">
    <div class="col">
      <img src="{% static 'img/compfest12.jpg' %}" style="width:200px" class="foto img-thumbnail">
      <br><h2 style="margin-top: 30px;">COMPFEST 12</h2>
    </div>
    <div class="col">
      <img src="{% static 'img/kgtk17.jpg' %}" style="width:200px" class="foto img-thumbnail">
      <h2 style="margin-top: 30px;">Kampus Goes To Kampung 17</h2>
    </div>
    <div class="col">
      <img src="{% static 'img/mcf.jpg' %}" style="width:200px" class="foto img-thumbnail">
      <h2 style="margin-top: 30px;">Minang Culture Festival 2020</h2>
    </div>
  </div>
{% endblock content %}