{% extends 'base.html' %} {% load static %} {% block meta %}
<title>storyhadi</title>
<script src="{% static 'js/script.js' %}"></script>
{% endblock meta %} {% block content %}

<div class="card kartu" style="width: 30rem;">
    <div class="card-body">
      <h2 class="card-title black" style="margin-bottom: 30px;">Register</h2>
      <form method="POST" class="black" action="">
        {% csrf_token %}
        {% for field in form %}
            <div class="form" style="margin-bottom: 10px;">
                <div class="label">{{ field.label }} </div>
                {{field}}
            <br>
            </div>
        {% endfor %}
      <input type="submit" value="Register" class="btn btn-primary">
    </form>
    </div>
  </div>


{% endblock content %}